
@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="innerpage-tite">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                    <div class="cta_content">
                        <div class="cta_title">Mistletoe Therapy</div>
                        <div class="cta_text">Therapy with mistletoe products is used in a number of different ways</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="intro">
    <div class="container after-login">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro_content mt-0 pt-0">

                    <div class="intro_text mistletoe mt-0 pt-0">
                        <h3>Information for Healthcare Professionals</h3>
                        <h5>abnobaVISCUM</h5>
                        <p>The medicinal product abnobaVISCUM differs from other mistletoe products with regard to the following features: </p>

                        <h5>Preclinical<strong>Cytotoxic</strong></h5>
                        <p>abnobaVISCUM is the only product for which mistletoe lectins are detectable in the serum following subcutaneous injection. </p>

                        <h5>AbnobaVISCUM during chemotherapy<strong>Cytochrome P450</strong></h5>
                        <p> abnobaVISCUM is the only product for which it has been confirmed that it does not impair the activity of cytochrom P450. </p>

                        <h5>Pharmaceutical</h5>
                        <ul>
                            <li>
                                <strong>No oxidative change to the active substance (mistletoe extract)</strong><Br>
                                From the time of storage of the harvested material until it is filled into ampoules, abnobaVISCUM is produced using a shielding gas to exclude the oxidative changes that are identifiable from the brown staining of similar products.
                            </li>

                            <li>
                                <strong>Liposomal processing</strong><Br>
                                Natural liposomes contained in the extract explain both the good availability and good tolerability of the medicinal products.
                            </li>

                            <li>
                                <strong>Highest mistletoe lectin and viscotoxin content</strong><Br>
                                Due to the patented manufacture of the pressed juice, 75% of the plant material used is solubilised. In this way, reproducibly high concentrations of mistletoe lectins and viscotoxins are obtained in the extract. It should be stressed that both groups of ingredients are equally well extracted.<Br />
                                Despite its high active substance content compared with other mistletoe products, abnobaVISCUM is very well tolerated.
                            </li>

                         </ul>

                            <h3>Information for Healthcare Professionals</h3>
                            <hr />
                            <ul>
                                <li><a href="pdf/smpc-all-products_2017_final_en.pdf" target="_blank">abnobaVISCUM – Information for Healthcare Professionals </a></li>
                            </ul>
                            <p>
                                For further information please contact us on<Br />
                                phone +49 (0)7233 – 7043 200<Br />
                                FAX     +49 (0)7233 – 7043 301<Br />
                                <a href="mailto:info@abnoba.de">E-Mail info@abnoba.de</a>
                            </p>


                            <h3>Choosing the type of preparation (i.e. host tree)</h3>
                            <hr />
                            <ul>
                                <li><a href="pdf/Choosing-type_web_E_2014.pdf" target="_blank">abnobaVISCUM – Choosing the type of preparation (i.e host tree)</a> </li>
                            </ul>
                            <p>
                                For further information please contact us on<Br />
                                phone +49 (0)7233 – 7043 200<Br />
                                FAX     +49 (0)7233 – 7043 301<Br />
                                <a href="mailto:info@abnoba.de">E-Mail info@abnoba.de</a>
                            </p>



                            <h3>How to reach optimal dosage and long-term therapy – Short Protocol</h3>
                            <hr />
                            <ul>
                                <li><a href="pdf/Therapy-Short-Protocol-2019.pdf" target="_blank">obaVISCUM – How to reach optimal dosage and long term therapy</a> </li>
                            </ul>
                            <p>
                                For further information please contact us on<Br />
                                phone +49 (0)7233 – 7043 200<Br />
                                FAX     +49 (0)7233 – 7043 301<Br />
                                <a href="mailto:info@abnoba.de">E-Mail info@abnoba.de</a>
                            </p>



                            <h3>Recommendations for Use</h3>
                            <hr />
                            <ul>
                                <li><a href="pdf/AE-englisch-DS-web.pdf" target="_blank">abnobaVISCUM – Recommendations for Use</a> </li>
                            </ul>
                            <p>
                                For further information please contact us on<Br />
                                phone +49 (0)7233 – 7043 200<Br />
                                FAX     +49 (0)7233 – 7043 301<Br />
                                <a href="mailto:info@abnoba.de">E-Mail info@abnoba.de</a>
                            </p>

                            <h5>Adviezen voor Gebruik in het Nederlands </h5>
                            <ul>
                                <li><a href="pdf/Finale_Version_2009.pdf" target="_blank">Adviezen voor Gebruik </a> </li>
                            </ul>

                            <h5>Рекомендации по применению на русском языке </h5>
                            <ul>
                                <li><a href="pdf/AE_ABNOBA_russisch_web.pdf" target="_blank">Рекомендации </a> </li>
                            </ul>


                            <h3>Package Insert</h3>
                            <hr />
                            <ul>
                                <li>abnobaVISCUM is available in the following sorts:</li>
                            </ul>

                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Abietis</td>
                                        <td>fir</td>
                                    </tr>
                                    <tr>
                                        <td>Aceris</td>
                                        <td>maple</td>
                                    </tr>
                                    <tr>
                                        <td>Amygdali</td>
                                        <td>almond</td>
                                    </tr>
                                    <tr>
                                        <td>Betulae</td>
                                        <td>birch</td>
                                    </tr>
                                    <tr>
                                        <td>Crataegi</td>
                                        <td>hawthron</td>
                                    </tr>
                                    <tr>
                                        <td>Fraxini</td>
                                        <td>ash</td>
                                    </tr>
                                    <tr>
                                        <td>Mali</td>
                                        <td>apple</td>
                                    </tr>
                                    <tr>
                                        <td>Pini</td>
                                        <td>pine</td>
                                    </tr>
                                    <tr>
                                        <td>Quercus</td>
                                        <td>oak</td>
                                    </tr>
                                </tbody>
                            </table>

                            <ul>
                                <li><a href="pdf/ABNOBA-PB_Englisch-allgemein-Jan.2021-web-1.pdf" target="_blank">abnoba VISCUM – Package Insert </a> </li>
                            </ul>
                            <p>This package insert corresponds to the German package insert. </p>



                            <h3>Information on the storage and transport</h3>
                            <hr />
                            <ul>
                                <li><a href="pdf/Information-sheet-on-the-storage-and-transport-mg-_EN-web.pdf" target="_blank">abnoba Viscum Information sheet on storage and transport 0,02mg – 20mg</a> </li>
                                <li><a href="pdf/Information-sheet-on-the-storage-and-transport-D-Potenzen_EN_web.pdf" target="_blank">abnoba Viscum Information sheet on storage and transport D6 – D30 and Betula Folium</a> </li>

                            </ul>
                            <p>
                                For further information please contact us on<Br />
                                phone +49 (0)7233 – 7043 200<Br />
                                FAX     +49 (0)7233 – 7043 301<Br />
                                <a href="mailto:info@abnoba.de">E-Mail info@abnoba.de</a>
                            </p>




                            <h3>PROTOCOLS</h3>
                            <hr />
                            <h5>Summarised protocols</h5>
                            <p>The recommendations in the protocols are based on the best verifiable data and have been compiled together with oncologists, consultants and staff from the Drug Information Department at ABNOBA GmbH. For any reports not listed here, please use our <a href="pdf/AE_englisch_DS_web.pdf">Recommendations for Use </a> or call our therapy advice service on +49 (0)7233 – 7043 200.</p>

                            <h5>Endometrial carcinoma  Short protocol</h5>
                            <p>
                                For therapy recommendations beyond the scope of the <a href="pdf/Protocols_EN.pdf" target="_blank" rel="noopener noreferrer">Short protocol on endometrial carcinoma</a> please use the <a href="pdf/AE_englisch_DS_web.pdf">Recommendations for Use </a> or call our therapy advice service on +49 (0)7233 – 7043 200.
                                We also welcome your e-mail or FAX queries and will be happy to answer them.
                            </p>

                            <ul>
                                <li>Bladder carcinoma  Short protocol </li>
                                <li>Colon Carcinoma  Short protocol </li>
                                <li>Bronchial Carcinoma  Short protocol </li>
                                <li>Breast Carcinoma  Short protocol </li>
                                <li>Ovarian Carcinoma  Short protocol </li>
                                <li>Carcinoma of the prostata  Short protocol </li>
                                <li>Cervial carcinoma  Short protocol</li>
                            </ul>


                            <h3>Other uses</h3>
                            <hr />
                            <p>
                                In the reports concerned, please observe the references to the given tumour stages, the time of therapy and/or the patient’s condition.<Br />
                                The report recommendations are based on the best verifiable data and have been compiled together with oncologists, consultants and staff from the Drug Information Department at ABNOBA GmbH, giving particular consideration to safety of use.<Br />
                                Please observe that the recommendations pertain to use outside the authorised indication (OFF-LABEL USE). <strong>Pleurodesis  Short protocol </strong>
                            </p>

                            <p><strong>Pleurodesis&nbsp; Short protocol</strong></p>
                            <p>
                                For therapy recommendations beyond the scope of the <a href="pdf/Protocols_EN.pdf" target="_blank" rel="noopener noreferrer">Short protocol on pleurodesis</a> please use the <a href="pdf/AE-englisch-DS-web.pdf" target="_blank" rel="noopener noreferrer">Recommendations for Use</a> or call our therapy advice service on +49 (0)7233 – 7043 200.<br>
                                We also welcome your e-mail or FAX queries and will be happy to answer them.
                            </p>
                            <p>Please observe that the recommendations pertain to use outside the authorised indication (OFF-LABEL USE).</p>
                            <p>In Korea, the indication “pleurodesis” is an authorised indication.</p>


                            <h5>Intravenous infusion  Short protocol</h5>
                            <p>
                                <strong>Intravenous infusion&nbsp; Short protocol</strong><br>
                                For therapy recommendations beyond the scope of the <a href="pdf/Protocol_intravenious_application_10_07_14_EN__2_.docx.pdf" target="_blank" rel="noopener noreferrer">Short protocol on&nbsp;intravenous&nbsp;infusion</a> please use the <a href="pdf/AE_englisch_DS_web.pdf" target="_blank" rel="noopener noreferrer">Recommendations for Use </a>or call our therapy advice service on +49 (0)7233 – 7043 200.<br>
                                We also welcome your e-mail or FAX queries and will be happy to answer them.
                            </p>
                            <p>Please observe that the recommendations pertain to use outside the authorised indication (OFF-LABEL USE).</p>




                            <p><strong>Bladder Intravesical instillation</strong></p>
                            <p>
                                For therapy recommendations beyond the scope of the <a href="pdf/Intravesical_instillation_with_abnobaVISCUM_Fraxini_20_mg_ENGLISH.pdf" target="_blank" rel="noopener noreferrer">Short protocol&nbsp;on intravesical&nbsp;instillation</a>&nbsp;please use the <a href="pdf/AE_englisch_DS_web.pdf" target="_blank" rel="noopener noreferrer">Recommendations for use</a> or call our therapy advice service on +49 (0)7233 – 7043 200.<br>
                                We also welcome your e-mail or FAX queries and will be happy to answer them.
                            </p>
                            <p>Please observe that the recommendations pertain to use outside the authorised indication (OFF-LABEL USE).</p>
                            <p>
                                <strong>
                                    Intratumoural infiltration gastrointestinal tract and liver<br>
                                </strong>
                            </p>
                            <p>
                                For therapy recommendations beyond the scope of the <a href="pdf/Mistel-itu-gi-trakt-2016-2-erg-fs.13.6.2019_EB_EN-_03.pdf" target="_blank" rel="noopener noreferrer">Short protocol on intratumoural infiltration</a> please use the <a href="pdf/AE_englisch_DS_web.pdf" target="_blank" rel="noopener noreferrer">Recommendations for use</a> or call our therapy advice service on +49 (0)7233 – 7043 200.<br>
                                We also welcome your e-mail or FAX queries and will be happy to answer them.
                            </p>
                            <p>Please observe that the recommendations pertain to use outside the authorised indication (OFF-LABEL USE).</p>
                            <p>
                                <strong>
                                    Intratumoural infiltration pancreas<br>
                                </strong>
                            </p>
                            <p>
                                For therapy recommendations beyond the scope of the <a href="pdf/Mistel-itu-Pa-2016-2-erg-fs.13.6.2019_EB_EN-_03.pdf" target="_blank" rel="noopener noreferrer">Short protocol on intratumoural infiltration</a> please use the <a href="pdf/AE_englisch_DS_web.pdf" target="_blank" rel="noopener noreferrer">Recommendations for use</a> or call our therapy advice service on +49 (0)7233 – 7043 200.<br>
                                We also welcome your e-mail or FAX queries and will be happy to answer them.
                            </p>
                            <p>Please observe that the recommendations pertain to use outside the authorised indication (OFF-LABEL USE).</p>


                            <p><strong>Publications on abnobaVISCUM</strong></p>
                            <p>
                                The list of publications on abnobaVISCUM is only a selection.<br>
                                Please ask for publications on special subjects by fax or e-mail.
                            </p>
                            <ul>
                                <li><a href="pdf/Literatur_zu_abnobaVISCUM__web.pdf" target="_blank" rel="noopener noreferrer">Publications on abnobaVISCUM</a></li>
                            </ul>
                            <p>
                                You can find an extended list of publications on<br>
                                <a href="pdf/wissenschaftliche.informationen" target="_blank" rel="noopener noreferrer">http://wissenschaft.mistel-therapie.de/index.php5?page=52&amp;lang=1</a>
                            </p>



                            <h3>ARTHROSIS / BETULA FOLIUM</h3>
                            <hr />

                            <ul>
                                <li>Betula Folium D3 ABNOBA <a href="pdf/Information-sheet-on-the-storage-and-transport-mg-_EN-web.pdf" target="_blank">Betula Folium Package Leaflet</a> </li>
                            </ul>

                            <p>
                                <strong><a href="pdf/Artikel_Gruendemann_0496_26072011.pdf" target="_blank" rel="noopener noreferrer">Literature on Betula Folium I</a></strong><br>
                                An aqueous birch leaf extract of Betula pendula inhibits the growth and cell division of inflammatory lymphocytes<br>
                                Journal of Ethnopharmacology 136 (2011)&nbsp;444-451 Elsevier
                            </p>
                            <p>
                                <strong><a href="pdf/Experimental_Eye_Research.pdf" target="_blank" rel="noopener noreferrer">Literature on Betula Folium II</a></strong><br>
                                Inhibition of corneal inflamation following keratoplasty by birch leaf extract<br>
                                Experimental Eye Research 97 (2012) 24-30 Elsevier
                            </p>
                            <p>
                                <strong>For further information please contact us on</strong><br>
                                phone +49 (7233) – 7043 200<br>
                                FAX&nbsp;&nbsp;&nbsp;&nbsp; +49 (7233) – 7043 301<br>
                                E-mail <a href="mailto:info@abnoba.de">info@abnoba.de</a>
                            </p>







                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
