
<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                    <div class="cta_content">
                        <a href="../home/contacts"><div class="cta_title">Contact us today to know more!</div></a>
                        <div class="cta_text">We are here to help you for any query</div>
                    </div>
                    <div class="cta_phone ml-lg-auto">+91 981 005 6652</div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<footer class="footer">
    <div class="footer_content">
        <div class="container">
            <div class="row">

                <div class="col-lg-2 footer_col">
                    <div class="footer_title">Company</div>
                    <ul>
                        <li><a href="../about/abnoba-gmbh">Abnoba GmbH</a></li>
                        <li><a href="../about/abnoba-india">Abnoba India</a></li>
                        <li><a href="../about/abnoba-india">About Compnay</a></li>
                        <li><a href="#">Locations</a></li>
                        <li><a href="#">Partner</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 footer_col">
                    <div class="footer_title">Research</div>
                    <ul>
                        <li><a href="#">Research & development</a></li>
                        <li><a href="#">Clinical research</a></li>
                        <li><a href="#">Pharmaceutical research</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 footer_col">
                    <div class="footer_title">Patient</div>
                    <ul>
                        <li><a href="../patient/mistletoe-therapy">Mistletoe therapy</a></li>
                        <li><a href="../patient/mistletoe-therapy-patient">Mistletoe therapy Patient information</a></li>
                        <li><a href="../patient/faq">Frequently asked questions</a></li>
                        <li><a target="_blank" href="https://www.abnoba.de/betula-folium-d3/?lang=en">Betula Folium D3</a></li>
                    </ul>
                </div>


                <div class="col-lg-3 footer_col">
                    <div class="footer_title">Healthcare Professionals</div>

                    <ul>
                        <li><a href="#">Information for Healthcare Professionals</a></li>
                    </ul>
                </div>


                <div class="col-lg-2 footer_col">
                    <div class="footer_title">News</div>
                    <ul>
                        <li><a target="_blank" href="https://www.abnoba.de/news/?lang=en">News</a></li>
                        <li><a target="_blank" href="https://www.abnoba.de/tim-study/?lang=en">TIM study</a></li>
                        <li><a target="_blank" href="https://www.abnoba.de/refund/?lang=en">Refund</a></li>
                        <li><a target="_blank" href="https://www.abnoba.de/dates/?lang=en">Dates</a></li>
                        <li><a target="_blank" href="https://www.abnoba.de/imprint/?lang=en">Imprint</a></li>
                        <li><a target="_blank" href="https://www.abnoba.de/privacy-policy/?lang=en"></a>Privacy Policy</li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>*@