<header class="header trans_400">

    <div class="notifi">
        <button id="close-btn">X</button>
        <div class="container">Tara Lohia - An authorized distributor in India</div>
    </div>

    <div class="header_content d-flex flex-row align-items-center jusity-content-start trans_400">

        <div class="logo">
            <a href="~/">
                <img src="~/images/logo.png">
            </a>
        </div>

        <nav class="main_nav">
            <ul class="d-flex flex-row align-items-center justify-content-start">
                <li>
                    <a href="#">Company</a>
                    <ul>
                        <li><a href="../about/abnoba-gmbh">Abnoba GmbH </a></li>
                        <li><a href="../about/abnoba-india">Abnoba India </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Patient</a>
                    <ul>
                        <li><a href="../patient/mistletoe-therapy">Mistletoe therapy</a></li>
                        <li><a href="../patient/mistletoe-therapy-patient-information">Mistletoe therapy Patient information</a></li>
                        <li><a href="../patient/faq">Frequently asked questions</a></li>
                        <li><a href="#">Package insert</a></li>
                    </ul>
                </li>
                <li><a href="../home/expert-circles">Expert circles</a></li>
            </ul>
        </nav>
        <div class="header_extra d-flex flex-row align-items-center justify-content-end ml-auto">

            <div class="button button_1 header_button"><a href="../home/contacts">Contact</a></div>

            <div class="social header_social">
                <ul class="d-flex flex-row align-items-center justify-content-start">
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </div>
    </div>
</header>

<div class="menu_overlay trans_400"></div>
<div class="menu trans_400">
    <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
    <nav class="menu_nav">
        <ul>
            <li>
                <a href="">Company</a>
                <ul>
                    <li><a href="abnoba-gmbh.html">Abnoba GmbH </a></li>
                    <li><a href="abnoba-india.html">Abnoba India </a></li>
                </ul>
            </li>
            <li>
                <a href="mistletoe-therapy.html">Patient</a>
                <ul>
                    <li><a href="mistletoe-therapy.html">Mistletoe therapy</a></li>
                    <li><a href="#">Mistletoe therapy Patient information</a></li>
                    <li><a href="FAQ.html">Frequently asked questions</a></li>
                    <li><a href="#">Package insert</a></li>
                </ul>
            </li>
            <li><a href="login.html">Expert circles</a></li>

        </ul>
    </nav>
    <div class="menu_extra">
        <div class="menu_link"><a href="contact.html">Contact</a></div>
    </div>
    <div class="social menu_social">
        <ul class="d-flex flex-row align-items-center justify-content-start">
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>
