<div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">

        <div class="owl-item">
            <div class="background_image" style="background-image:url(../images/home_slider3.jpg)"></div>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <!-- <div class="home_subtitle">#1 Plastic Surgery Clinic</div> -->
                                <div class="home_title">SCIENCE ENHANCES EFFICACY </div>
                                <div class="home_text">
                                    <p>Active follow-up care in oncology</p>
                                </div>
                                <div class="home_buttons d-flex flex-row align-items-center justify-content-start">
                                    <div class="button button_1 trans_200"><a href="../about/abnoba-india">read more</a></div>
                                    <div class="button button_2 trans_200"><a href="../home/contacts">Contact Us</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="owl-item">
            <div class="background_image" style="background-image:url(../images/home_slider4.jpg)"></div>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <!-- <div class="home_subtitle">#1 Plastic Surgery Clinic</div>-->
                                <div class="home_title">TARA LOHIA DISRIBUTORS</div>
                                <div class="home_text">
                                    <p>- An authorized distributor in India </p>
                                </div>
                                <div class="home_buttons d-flex flex-row align-items-center justify-content-start">
                                    <div class="button button_1 trans_200"><a href="../content/pdf/Pat_Info_web_E_2014-1.pdf" target="_blank">read more</a></div>
                                    <div class="button button_2 trans_200"><a href="../home/contacts">Contact Us</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="owl-item">
            <div class="background_image" style="background-image:url(../images/home_slider2.jpg)"></div>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <!-- <div class="home_subtitle">#1 Plastic Surgery Clinic</div>-->
                                <div class="home_title">SCIENCE ENHANCES CONFIDENCE </div>
                                <div class="home_text">
                                    <p>Active follow-up care in oncology </p>
                                </div>
                                <div class="home_buttons d-flex flex-row align-items-center justify-content-start">
                                    <div class="button button_1 trans_200"><a href="../content/pdf/Pat_Info_web_E_2014-1.pdf" target="_blank">read more</a></div>
                                    <div class="button button_2 trans_200"><a href="../home/contacts">Contact Us</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="owl-item">
            <div class="background_image" style="background-image:url(../images/home_slider.jpg)"></div>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <!-- <div class="home_subtitle">#1 Plastic Surgery Clinic</div> -->
                                <div class="home_title">SCIENCE IMPROVES QUALITY OF LIFE </div>
                                <div class="home_text">
                                    <p>Patient information on mistletoe therapy </p>
                                </div>
                                <div class="home_buttons d-flex flex-row align-items-center justify-content-start">
                                    <div class="button button_1 trans_200"><a href="../content/pdf/Pat_Info_web_E_2014-1.pdf" target="_blank">read more</a></div>
                                    <div class="button button_2 trans_200"><a href="../home/contacts">Contact Us</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

    <div class="home_slider_dots">
        <ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-center justify-content-start">
            <li class="home_slider_custom_dot trans_200 active"></li>
            <li class="home_slider_custom_dot trans_200"></li>
            <li class="home_slider_custom_dot trans_200"></li>
            <li class="home_slider_custom_dot trans_200"></li>
        </ul>
    </div>
</div>
