
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <h4 class="title-main text-uppercase">Employee leaves Details </h4>
    <div class="row">
        <div class="col-sm-12 approve-leavs">
            <div class="table-responsive leaves">
                <table class="table table-bordered">
                    <tr>
                        <th>Leave Title </th>
                        <th>Date </th>
                        <th> Approved Date </th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>Casual leave  </td>
                        <td> 25-06-2019 </td>
                        <td>25-05-2019 </td>
                        <td>

                            <button class="btn btn-swap">
                                <i class="mdi mdi-pencil"></i>
                            </button>
                        </td>

                    </tr>

                    <tr>
                        <td>Casual leave  </td>
                        <td> 25-06-2019 </td>
                        <td>25-05-2019 </td>
                        <td>

                            <button class="btn btn-swap">
                                <i class="mdi mdi-pencil"></i>
                            </button>
                        </td>

                    </tr>


                </table>
            </div>
        </div>




    </div>





</div>



