
@{
    ViewBag.Title = "faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>faq</h2>

<div class="innerpage-tite" style="background-image: url(../images/abnoba-forschung-entwicklung-birkenblaetter.jpg)">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                    <div class="cta_content">
                        <div class="cta_title" style="color:#504747">Frequently Asked Questions</div>
                        <div class="cta_text" style="color:#504747">ABNOBA GmbH is an independent, medium-sized, research-based</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="intro">
    <div class="container">
        <div class="row">

            <div id="main">
                <div class="container">
                    <div class="accordion" id="faq">
                        <div class="card">
                            <div class="card-header" id="faqhead1">
                                <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#faq1"
                                   aria-expanded="true" aria-controls="faq1">When should mistletoe therapy be started?</a>
                            </div>
                            <div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq">
                                <div class="card-body">
                                    Therapy can be started before the beginning of what are known as standard therapies (surgery, chemotherapy and radiotherapy) and is then intended particularly to improve the tolerability of the standard therapies.<Br>
                                    Mistletoe therapy may also possibly be started in the intervals between cycles of chemotherapy.<Br>
                                    In most cases, mistletoe is prescribed after the end of the standard therapies to prevent recurrences (relapses) and to improve the immune status and the quality of life.<Br>
                                    Mistletoe therapy should always be taken on medical advice and under medical supervision.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqhead2">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq2"
                                   aria-expanded="true" aria-controls="faq2">What is the right way to inject?</a>
                            </div>
                            <div id="faq2" class="collapse" aria-labelledby="faqhead2" data-parent="#faq">
                                <div class="card-body">
                                    To begin with, your doctor or her/his assistant will show you how to use the ampoule and the syringe. During the therapy, you yourself or a member of your family can give the injection. Please note the following:<Br>
                                    At the beginning of treatment (for about 8 weeks) when stronger reactions are possible, the injections should be followed by half an hour’s rest. Change the injection sites. As a rule, injections are given under the abdominal skin and possibly also under the skin on the upper leg.<br>
                                    Please see Instructions for injection of mistletoe preparations
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqhead3">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq3"
                                   aria-expanded="true" aria-controls="faq3">Is there a special diet?</a>
                            </div>
                            <div id="faq3" class="collapse" aria-labelledby="faqhead3" data-parent="#faq">
                                <div class="card-body">
                                    Certain dietary habits make a substantial contribution to health. You should therefore ensure that wholemeal products, fruit and vegetables are on the daily menu. The excessive consumption of meat, sugar and fat should be avoided. Changing your eating habits overnight however should not cause you to lose your pleasure in eating! Brochures from medical insurance companies and bookshops offer a rich selection of recommended diets.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqhead4">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq4"
                                   aria-expanded="true" aria-controls="faq4">The area of redness at the injection site, the "local reaction", is much too</a>
                            </div>
                            <div id="faq4" class="collapse" aria-labelledby="faqhead4" data-parent="#faq">
                                <div class="card-body">
                                    Initially, the local reaction also depends on the angle and the depth beneath the skin at which you have given the injection. If the injection has been given at a very shallow angle, a correspondingly large local reaction may be expected; on the other hand, if the angle of the injection is very steep, a weaker reaction will be apparent. The diameter of this redness should be about five centimetres. The local reaction is basically a sign of a healthy reaction to the medicine. For this reason, an excessive local reaction is not harmful in terms of an overdose. Obviously, the burning and itching at the injection site is unpleasant. For this reason, if you have an excessive reaction, discuss with your doctor whether only half the contents of the ampoule should be used for the next injection or whether the dose should be reduced still further.
                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" id="faqhead5">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq5"
                                   aria-expanded="true" aria-controls="faq5">How to store and transport abnobaVISCUM?</a>
                            </div>
                            <div id="faq5" class="collapse" aria-labelledby="faqhead5" data-parent="#faq">
                                <div class="card-body">
                                    Active plant substances react sensitively to frequent and excessive temperature fluctuations. It is therefore recommended that the ampoules should be stored in a cool, dark place, for instance in the refrigerator.<BR>
                                    Before use, however, the ampoules should be brought to room temperature by warming them briefly in your hands.<BR>
                                    Please see Information on the storage and transport of abnobaVISCUM
                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" id="faqhead5">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq6"
                                   aria-expanded="true" aria-controls="faq6">Can the contents remaining in the ampoule be used later for other injections?</a>
                            </div>
                            <div id="faq6" class="collapse" aria-labelledby="faqhead6" data-parent="#faq">
                                <div class="card-body">
                                    No, the contents of an opened ampoule can be contaminated with bacteria and become unsterile, even when handled carefully. In addition, the drug can oxidise on contact with the oxygen in the air
                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" id="faqhead7">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq7"
                                   aria-expanded="true" aria-controls="faq7">I was not able to inject myself on one day. What effects can this have?</a>
                            </div>
                            <div id="faq7" class="collapse" aria-labelledby="faqhead7" data-parent="#faq">
                                <div class="card-body">
                                    As this is a long-term therapy, it is not of major importance. You should however realise that the stimulus for the immune system to be modulated is less pronounced as a result
                                </div>
                            </div>
                        </div>



                        <div class="card">
                            <div class="card-header" id="faqhead8">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq8"
                                   aria-expanded="true" aria-controls="faq8">When should a mistletoe injection not be given?</a>
                            </div>
                            <div id="faq8" class="collapse" aria-labelledby="faqhead8" data-parent="#faq">
                                <div class="card-body">
                                    In general, if the patient has a high fever or if they react allergically to the injections. The “local reaction” sometimes associated with slight swelling and itching is not an allergy! If however the itching at the injection site develops into a generalised itching over the whole body, there may be an allergy. This very rare rea
                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" id="faqhead9">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq9"
                                   aria-expanded="true" aria-controls="faq9">Can mistletoe preparations be injected during chemotherapy or radiotherapy?</a>
                            </div>
                            <div id="faq9" class="collapse" aria-labelledby="faqhead9" data-parent="#faq">
                                <div class="card-body">
                                    Yes, it is advantageous to inject mistletoe preparations during chemotherapy or radiotherapy, because the adverse reactions to these treatments may thus be diminished significantly. For example, chronic fatigue occurs rarely or only in a weaker form in patients receiving concurrent mistletoe therapy.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqhead10">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq10"
                                   aria-expanded="true" aria-controls="faq10">Can mistletoe therapy lower the effectiveness of chemotherapy and radiotherapy?</a>
                            </div>
                            <div id="faq10" class="collapse" aria-labelledby="faqhead10" data-parent="#faq">
                                <div class="card-body">
                                    On the contrary, because chemotherapy is better tolerated in patients receiving concurrent mistletoe therapy, its effect may even be intensified and work better. This also applies to radiotherapy.<br>
                                    No evidence of possible interactions with other medicinal products was found in relevant investigations. Above all, mistletoe therapy does not interfere with the breakdown of chemotherapeutic agents in the body, a fact that has been demonstrated only for abnobaVISCUM.
                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" id="faqhead11">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq11"
                                   aria-expanded="true" aria-controls="faq11">Is mistletoe therapy also possible with a malignant disease of the lymphatic system or the blood?</a>
                            </div>
                            <div id="faq11" class="collapse" aria-labelledby="faqhead11" data-parent="#faq">
                                <div class="card-body">
                                    There have been laboratory tests which suggested that growth of diseased lymphoma cells would be stimulated by therapy with mistletoe extracts. This suspicion has not been confirmed either in further cell studies or in retrospective (i.e. looking back) studies of disease processes.<Br>
                                    A repeated laboratory test also contradicts this suspicion. Nevertheless, this rumour has persisted and has led to uncertainty among patients and doctors, which is the reason why we are discussing this question here.<br />
                                    No treatment processes are known in which mistletoe has stimulated the growth of malignant cells. In fact, there are a large number of welldocumented cases that prove the opposite. The question has also been studied by a wide range of scientists who also came to the conclusion that this suspicion is not tenable.<br>
                                    Research by the University of Tübingen commissioned by the Abnoba company confirms this result.
                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" id="faqhead12">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq12"
                                   aria-expanded="true" aria-controls="faq12">Can the medicine also be drunk?</a>
                            </div>
                            <div id="faq12" class="collapse" aria-labelledby="faqhead12" data-parent="#faq">
                                <div class="card-body">
                                    No, because mistletoe products lose the effect necessary for cancer therapy when they come into contact with the mucous membranes of the mouth and with gastric acid.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqhead13">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq13"
                                   aria-expanded="true" aria-controls="faq13">What sort of a plant is mistletoe? How is it collected?</a>
                            </div>
                            <div id="faq13" class="collapse" aria-labelledby="faqhead13" data-parent="#faq">
                                <div class="card-body">
                                    There are a variety of species of mistletoe. The mistletoe used for cancer therapy is the white-berried mistletoe (Viscum album L.), whose main habitat extends from Europe via Central Asia to Korea and Japan. In Europe, three subspecies are distinguished within the species of Viscum album: pine, fir and deciduous mistletoe.<br />
                                    Birds like to eat white mistletoe berries in winter and thus ensure the dispersal of the seeds and thus the plant. The mistletoe seedling attaches itself to the bark of the host tree and germinates in the spring. It first of all seeks access to the water-conducting vessels in the tree and instead of a root drives a so-called sinker  through the bark. Over a period of about 4 years, the mistletoe grows – like any normal plant – against gravity, upwards towards the light. At this stage, the mistletoe is not yet collected. Only from the 5th year onwards does the typical spherical bush shape appear. The plant achieves this through oscillating growth movements which it performs annually in the early summer.<br />
                                    Some manufacturers see this as being the appropriate time for the summer collection. The mistletoe thus does not just direct its shoots in one direction, but grows actively in all directions. In winter, the evergreen mistletoe is particularly apparent as a spherical bush in the middle of the bare trees. When other plants are resting, mistletoe does not. There is no seed dormancy. The nutrient tissue of the mistletoe berry which first ripens in winter contains a green, already germinating embryo with cotyledons (seed leaves) and a root pole which is attracted to the light shining through the mistletoe berry. The ripening of the flowering organs is already complete in October. Flowering in most plants follows rapidly on from this cell division. The mistletoe takes its time and does not flower until January/February. Some manufacturers carry out the winter collection at the beginning of January – at this point the mistletoe berries are ripe and the male and female flowers not yet open.<br />

                                    Thus, compared to other plants, mistletoe is distinguished by a series of  characteristics which can be described by biological development processes that are both time-lagged and also spatially independent. These specific features of mistletoe can also be observed in its spectrum of substances, which is subject to seasonal variations. For this reason, it is suggested that a single collection time is not appropriate for the medicinal product, which involves the whole plant, but that two collection times are necessary for the production of medicines. For this reason, collection is performed in summer and winter at predefined collection times identifiable by specific characteristics of biological development.<br>
                                    The mistletoe used for manufacture by the Abnoba company does not come from crops, but from naturally growing stocks. At each collection time both the plant and the site are examined, assessed and documented by experienced biologists. The collected material is processed on the spot within the first 4 hours of collection. Even in these very early stages of production, care is taken to ensure that environmental oxygen is excluded in the processing of the mistletoe. At this stage also measures are taken to prevent the product later on from containing plant or bacterial degradation products. Mistletoe leaves, shoots and berries are weighed in accordance with the predefined formula, divided into portions and stored in transport containers which prevent any oxidative change in the collected material until the beginning of drug production. Before use in production, the collected material is tested for impurities from pesticides and heavy metals or infestation with micro-organisms
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqhead14">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq14"
                                   aria-expanded="true" aria-controls="faq14">Is mistletoe therapy reimbursed by the medical insurance companies?</a>
                            </div>
                            <div id="faq14" class="collapse" aria-labelledby="faqhead14" data-parent="#faq">
                                <div class="card-body">
                                    The use of mistletoe therapy in cancer diseases is permitted by the National Health Service (NHS) as well as by private insurance companies (available on prescription on a named patient only).
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqhead15">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq15"
                                   aria-expanded="true" aria-controls="faq15">There are other forms of therapy. What does this mean?</a>
                            </div>
                            <div id="faq15" class="collapse" aria-labelledby="faqhead15" data-parent="#faq">
                                <div class="card-body">
                                    Forms of treatment other than the subcutaneous injection of Viscum album are mentioned and discussed on the internet and in self-help groups. These include the following forms of therapy in particular: intravenous (into the blood circulation), intratumoural (into the tumour or a metastasis), intrapleural (into the gap in the chest lining) and intravesical (into the urinary bladder) therapy.<br />
                                    The forms of therapy mentioned are predominantly still in the process of scientific development and therefore should always only be given by a doctor and under clinical supervision.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqhead16">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq16"
                                   aria-expanded="true" aria-controls="faq16">Can mistletoe products be injected together with other medicines?</a>
                            </div>
                            <div id="faq16" class="collapse" aria-labelledby="faqhead16" data-parent="#faq">
                                <div class="card-body">
                                    Mistletoe products should only be injected on their own.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqhead17">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq17"
                                   aria-expanded="true" aria-controls="faq17">Are there any incompatibilities when taking other medicines at the same time?</a>
                            </div>
                            <div id="faq17" class="collapse" aria-labelledby="faqhead17" data-parent="#faq">
                                <div class="card-body">
                                    A slight increase in temperature after the injection is desirable at the beginning of therapy with mistletoe products used in holistic therapy. These mistletoe preparations should therefore not be taken together with medicines that lower temperature.<br />
                                    It is essential to seek medical advice if you are taking thymus preparations during mistletoe therapy.<br />
                                    No incompatibility or interactions with medicines other than those mentioned is known.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqhead18">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq18"
                                   aria-expanded="true" aria-controls="faq18">How long does mistletoe therapy last? Can breaks be introduced into long-term therapy?</a>
                            </div>
                            <div id="faq18" class="collapse" aria-labelledby="faqhead18" data-parent="#faq">
                                <div class="card-body">
                                    Depending on the risk of relapse of the tumour concerned and/or the required stimulus for immunomodulation, mistletoe therapy will continue for a period of a few months to several years. Injections are given more often at the beginning of therapy and subsequently often only once or twice a week and breaks can be introduced into the treatment.<Br />
                                    Following a break of more than two months, the treatment should be started again at a low dose (as at the beginning of therapy), and at all events under medical supervision
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqhead19">
                                <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq19"
                                   aria-expanded="true" aria-controls="faq19">How is mistletoe therapy to be assessed from a scientific point of view?</a>
                            </div>
                            <div id="faq19" class="collapse" aria-labelledby="faqhead19" data-parent="#faq">
                                <div class="card-body">
                                    For over 90 years, mistletoe extracts have been used mainly in cancer therapy. In Germany today, they rank among the most frequently prescribed medicinal products in oncology and have become a herbal standard treatment in integrative oncology.<Br />
                                    For no other herbal medicinal product are such a large number of preclinical and clinical studies available. To this day, more than ninety controlled studies on mistletoe therapy have been carried out and published.
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>




        </div>
    </div>
</div>



@*<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                    <div class="cta_content">
                        <div class="cta_title">Make your appointment today!</div>
                        <div class="cta_text">Etiam ac erat ut enim maximus accumsan vel ac nisl</div>
                    </div>
                    <div class="cta_phone ml-lg-auto">+34 586 778 8892</div>
                </div>
            </div>
        </div>
    </div>
</div>*@

