
@{
    ViewBag.Title = "mistletoetherapypatientinformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="innerpage-tite">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                    <div class="cta_content">
                        <div class="cta_title">Mistletoe Therapy Patient Information</div>
                        <div class="cta_text">The printed booklet can be ordered at ABNOBA GmbH free of charge</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="intro_content">

                    <div class="intro_text mistletoe">

                        <p><span style="color: #00774e;"><strong>Dear Patient,</strong></span></p>
                        <p>
                            The printed booklet can be ordered at ABNOBA GmbH free of charge<br>
                            <a href="mailto:info@abnoba.de">info@abnoba.de</a>  <br>
                             OR <br>
                            Contact Distributor at<br />
                            <a href="mailto:abnoba@taralohia.com">abnoba@taralohia.com</a>
                        </p>

                        <p>
                            Patient information "Mistletoe Therapy"<br>
                            <a href=" https://www.kamalmodelschool.in/abnoba/pdf/Pat_Info_web_EN_2019.pdf" target="_blank" rel="noopener noreferrer">Open here</a>
                        </p>

                    </div>


                </div>
            </div>

            <div class="col-lg-4">
                <div class="intro_image"> </div>
            </div>
        </div>
    </div>
</div>



@*<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                    <div class="cta_content">
                        <div class="cta_title">Make your appointment today!</div>
                        <div class="cta_text">Etiam ac erat ut enim maximus accumsan vel ac nisl</div>
                    </div>
                    <div class="cta_phone ml-lg-auto">+34 586 778 8892</div>
                </div>
            </div>
        </div>
    </div>
</div>*@