
@{
    ViewBag.Title = "misletoetherapy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>misletoetherapy</h2>



<div class="innerpage-tite">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                    <div class="cta_content">
                        <div class="cta_title">Mistletoe Therapy</div>
                        <div class="cta_text">Therapy with mistletoe products is used in a number of different ways</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="intro_content mt-0 pt-0">

                    <div class="intro_text mistletoe mt-0 pt-0">

                        <ul>
                            <li>Mistletoe is a semi parasitic plant that grows on several types of trees such as apple,ash,Oak, Pine and fir.</li>
                            <li>Mistletoe is one of the most widely studied complementary and alternative medicine therapies in people with cancer. In Europe mistletoe extracts are among the most prescribed drugs for patients with cancer. </li>
                            <li>Mistletoe extracts are usually given by injection under the skin (subcutinus) or intravenous or intraturmenal. </li>
                            <li>Few side effects have been reported from the use of mistletoe extracts </li>
                        </ul>


                        <p>The patient information that can be accessed from this page outlines for you the main principles of integrative mistletoe therapy in cancer.</p>
                        <p>
                            <a href="../content/pdf/Pat_Info_web_E_2014-1.pdf">– Patient information</a><Br>
                            <a href="../patient/faq">– Frequently asked questions and</a><Br>
                            <a href="#">– abnoba VISCUM products and package insert</a><Br>
                        </p>

                        <p>
                            Please do not hesitate to contact us at any time if you have any further questions. <br>
                            Here you can send us a mail.
                        </p>

                        <p>
                            Mistletoe extracts have been used in cancer therapy for over 90 years. They are currently among the most frequently prescribed medicines in cancer therapy in Germany and have thus become a standard herbal therapy in integrative oncology. No other herbal medicine has been the subject of so many scientific studies.<br>

                            <strong>Your ABNOBA-Team </strong>
                        </p>

                    </div>


                </div>
            </div>

            <div class="col-lg-4">
                <div class="intro_image"><img class="img-responsive" src="../images/Apfelbaum.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>



@*<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                    <div class="cta_content">
                        <div class="cta_title">Make your appointment today!</div>
                        <div class="cta_text">Etiam ac erat ut enim maximus accumsan vel ac nisl</div>
                    </div>
                    <div class="cta_phone ml-lg-auto">+34 586 778 8892</div>
                </div>
            </div>
        </div>
    </div>
</div>*@