
@{
    ViewBag.Title = "abnobaindia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="innerpage-tite">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                    <div class="cta_content">
                        <div class="cta_title">About ABNOBA India</div>
                        <div class="cta_text">Tara Lohia Distributors ( TLD) is an authorized exclusive marketing representative</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="intro">
    <div class="container">
        <div class="row">


            <div class="intro_content">
                <div class="section_title_container">
                    <div class="section_title"><h4>ABNOBA India </h4></div>
                </div>
                <div class="intro_text">
                    <p>Tara Lohia Distributors ( TLD) is an authorized  exclusive marketing representative for Abnoba GmbH in India and also for Afghanistan, Bangladesh, Bhutan, Maldives, Nepal, Pakistan and Sri Lanka.</p>
                    <p>We are the authorized pharmaceutical distributors/suppliers to different government hospitals, institutions, private hospitals, nursing homes, retailers, wholesalers and also to the patients directly under valid drug licenses issued by the Drugs Control Department Govt. of India.</p>
                    <p>Tara Lohia distributor is one of the leading pharmaceutical distributors of Delhi, the capital city of India since 1981.</p>
                    <p>In the 40 long years of our service to the pharmaceutical trade we have gained enough experience about proper storage, packing and distribution of life saving medicines.</p>
                    <p>We have also developed an excellent network for catering to the critical patients directly. </p>

                    <div class="section_title"><h4>Our Services </h4></div>
                    <img class="services-img" src="../images/services.png" alt="Our Services">
                    <p>We are also authorized distributors for a number of Indian and multinational companies for more than 40 years. We export quality pharmaceutical products manufactured by reputed Indian and multinational companies under WHO GMP Certification.</p>

                    <p>
                        Our utmost priority is to make the medicines available in the shortest possible time at best prices.<Br />
                        We are stockists and suppliers for a wide range of medicines such anti-cancer Nephrology, HIV Drugs and other high end Antibiotics.
                    </p>

                    <p>Continuing our tradition of providing dependable and quality service, we have decided to take Tara Lohia Distributors and its services to the global patients. We aim to provide NRIs and other patients worldwide the benefit of buying genuine medicines at a fraction of the cost and that too from a trustworthy, qualified and dependable source with more that 40 years of experience in dealing with quality medicines.</p>

                    <div class="section_title"><h4>Our Vision</h4></div>
                    <p>Our aim is to provide our customers the most cost effective and superior quality medicines in the shortest possible time. Our 40 years of experience will help us in sourcing quality medicines from across the globe and in India.</p>


                </div>


            </div>
        </div>

    </div>

</div>

