
@{
    ViewBag.Title = "abnobagmbh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="innerpage-tite">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                    <div class="cta_content">
                        <div class="cta_title">About ABNOBA GmbH</div>
                        <div class="cta_text">ABNOBA GmbH is an independent, medium-sized, research-based</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="intro">
    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                <div class="intro_content">
                    <div class="section_title_container">
                        <div class="section_subtitle">About</div>
                        <div class="section_title"><h2>Abnoba GmbH</h2></div>
                    </div>
                    <div class="intro_text">
                        <p>
                            ABNOBA GmbH is an independent, medium-sized, research-based pharmaceutical manufacturer based in Niefern-Oeschelbronn, Germany.
                            The partners of ABNOBA GmbH are exclusively non-profit organisations. The profits from our company are therefore particularly channelled into cancer research.  Oncology patients are the focus of our activity.
                            ABNOBA GmbH is one of the world’s leading and most innovative companies in the field of herbal medicinal products for oncology.
                        </p>
                    </div>


                </div>
            </div>

            <div class="col-lg-4">
                <div class="intro_image"><img class="img-responsive" src="../images/Neubau_office.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>







